@import "tailwindcss";
@import "katex/dist/katex.min.css";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
  }

  ::selection {
    @apply bg-indigo-500/20 text-indigo-900;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300;
  }
}